//global
$fontFamily: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$fontSize: 14px;

//menu (e.g. menu, menubar, tieredmenu)
$menuWidth: 21rem;
$menuBg: linear-gradient(180deg, #2e323f 0%, #0a061a 100%); ;
