$primaryColor: #0f8bfd;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

/*
The application's styles are governed by the following import order:

  1. Theme Variables
  2. Theme Variables - our custom overrides (if any)
  3. Layout Variables
  4. Layout Variables - our custom overrides (if any)
  5. Layout Styles (class-based)
  6. Layout Styles (class-based) - our custom overrides (if any)
  7. Component Styles (class-based)
  8. Component Styles (class-based) - our custom overrides (if any)

The proper order of the theme's variable / styles file is the following:
  theme variables -> layout variables -> layout styles -> component styles

For every step in the above order, we inject our own custom override file
which can optionally modify existing theme styles.
*/

// ========================================================================
// Theme variables
// Without this, missing variables in UI components
// (the @import below this) -> compile error
// ========================================================================
// @import '../../variables/theme/_theme_dark.scss';
// @import '../../variables/theme/_theme_light.scss';
@import '../variables/theme/_theme_dark.scss';

// ========================================================================
// Theme variables overrides
// This is where you can (optionally) add overrides
// to the theme's variables
// ========================================================================
@import './overrides/theme_variables.scss';

// ========================================================================
// Template's Layout variables
// Without this, missing variables in Layout styles
// (the @import below this) -> compile error
// ========================================================================
// @import '../../variables/layout/_layout_light.scss';
@import '../variables/layout/_layout_dark.scss';

// ========================================================================
// Template's layout variables overrides
// This is where you can (optionally) add overrides
// to the layout's variables
// ========================================================================
@import './overrides/layout_variables.scss';

// ========================================================================
// Template's Layout styles
// Without this, none of the Layout Components have styles
// (but the site will still work)
// ========================================================================
@import '../layout/_layout_dark.scss';

// ========================================================================
// Template's layout style overrides
// This is where you can (optionally) add overrides
// to the layout's class-based SCSS styles
// ========================================================================
@import './overrides/layout.scss';

// ========================================================================
// Template's UI Component styles
// Without this, none of the UI components have styles
// ========================================================================
@import '../theme/designer/_components.scss';

// ========================================================================
// Template's UI Component style overrides
// This is where you can (optionally) add overrides
// to the components' class-based SCSS styles
// ========================================================================
@import './overrides/components.scss';

// ========================================================================
// Custom css classes
// This is where you can (optionally) add your custom classes
// ========================================================================
// @import './_custom_classes.scss';

// ========================================================================
// Extendting some primeflex class
// ========================================================================

// @import './_primeflex_extended.scss';
